// VERSIONINFO references:
//   https://learn.microsoft.com/en-us/windows/win32/menurc/versioninfo-resource
//   https://stackoverflow.com/a/70246116
1 VERSIONINFO
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        // English (US), code page 1252
        BLOCK "040904E4"
        BEGIN
            // Strings must match test.py
            VALUE "CompanyName", "nabijaczleweli\0"
            VALUE "ProductName", "rust-embed-resource/example/version\0"
            VALUE "ProductVersion", "2.1.1\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
